<!-- This is the main header, which will be visible on all pages. -->
<!-- It uses Bootstrap classes to create a responsive navigation menu. -->
{% extends 'base.html' %}
{% load static %}
      
             
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <!-- Brand Logo/Shop Name -->
        <a class="navbar-brand logo-font" href="#">Boutique Ado</a>
        
        <!-- Toggler button for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Navigation links that are displayed on large screens -->
            <ul class="navbar-nav w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>

                <!-- Dropdown menu for "My Account" -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="myAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> My Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="myAccountDropdown">
                        <!-- Django template logic to show dropdown items based on user status -->
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            <!-- Additional link only for superusers -->
                            {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="#">Store Management</a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </li>

                <!-- Shopping Bag Link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-shopping-bag"></i>
                        <!-- Django template logic to display the total -->
                        <span class="bag-total">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- An empty div for the page header to create space below the fixed main header. -->
<div id="page-header"></div>